@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,body {
      height: 100%;
  }

/* hero section for auto typing code */

  
 

.hero {
    padding: 0px 10vw 75px;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 1fr 1fr;
}   
.typewrite{
    color: #54478c;
    animation: color-change 20s infinite;
}
.typer {   
    color: #54478c;
    font-family: 'Space Mono',sans-serif;
    animation: color-change 20s infinite;
    font-size: 5vw; 
    margin: auto 0px;
    max-width: 80vw;
}
@keyframes color-change {
    0% { color: #54478c; }
    10% { color: #2c699a; }
    20% { color: #048ba8; }
    30% { color: #0db39e; }
    40% { color: #16db93; }
    50% { color: #83e377; }
    60% { color: #b9e769; }
    70% { color: #efea5a; }
    80% { color: #f1c453; }
    90% { color: #f29e4c; }
    80% { color: #f1c453; }
    70% { color: #efea5a; }
    60% { color: #b9e769; }
    50% { color: #83e377; }
    40% { color: #16db93; }
    30% { color: #0db39e; }
    20% { color: #048ba8; }
    10% { color: #2c699a; }
    0% { color: #54478c; }
}

.download {
    text-decoration: none;    
    max-width: 100vw;  
}

.resume {
    text-decoration: none;
    color: darkgray;
    max-width: 80vw;
    max-height: 8vw;
    font-size: 2vw;
}
.download .resume{ 
    text-decoration: none;
    color: darkgray;
}

/* about styles */

.about {
    padding-bottom: 30vh;
    display: grid;
    grid-template-columns: .75fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-content: center;
   
      
}

.box {
    align-content: center;
    
}

.photo {
    border-radius: 10px 10px 10px 10px; 
    width: 130px;
    height: 160px;   
}

.name {
    font-family: 'Space Mono',sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    padding: 0px 0px 30px 0px;
}
.jobTitle{
    font-size: 4.5vw;
    font-family: 'Space Mono',sans-serif;
    color: white;
    padding: 0px 0px 30px 0px;
    /* Fallback: Set a background color. */
  background-color: red;
  
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #16db93,  #54478c);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.aboutMeText{
    font-family: 'Space Mono',sans-serif;
    font-weight: bold;
    color: white;
    padding: 0px 0px 40px 0px;
}

/* Project grid styles */
.projectTitle {
    font-family: 'Space Mono',sans-serif;
    color: white;
    font-size: 6vw;
}

.boxes{
    margin: 20px;
    margin-top: 150px;
    background-color: #191a19;
    overflow: hidden;
    height: 200vh;
    max-height: 60vh;
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    border:2.5px solid white;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.grids {
    max-width: 80vw;
    margin: auto;
}

.boxes:hover {
   box-shadow:0px 0px 50px  #0db39e;
    -moz-box-shadow: scale(1.1);  /* Firefox */
    -webkit-box-shadow: scale(1.1);  /* Safari and Chrome */
    -o-box-shadow: scale(1.1);  /* Opera */
    vertical-align: middle;
    transition: 0.5s;
    
  }

  .boxes h5 {
    font-family: 'Space Mono',sans-serif;
    color: #d9d9d9;
}

.boxes h1 {
    font-family: 'Space Mono',sans-serif;
    color: white;
}

.boxes p {
    font-family: 'Space Mono',sans-serif;
    color: white;
}

.boxes .projectButton {
    padding: 1vw 1vw;
    font-size: 1.5vw;
    font-weight: 400;
    font-family: 'Space Mono', sans-serif;
    color: white;
    background-color: #191a19;
    border:1.5px solid white;
}


.boxes .projectButton:hover {
    background-color: white;
    color:  #191a19;
}
  /* contact form  */

  .mainContainer {
    padding: 80px 0px 0px;  
    height: 100vh;
    vertical-align: middle;
      
  }
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #191a19;
    color: white;
    padding: 12px 20px;
    border:2.5px solid white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #191a19;
    padding: 20px;
  }

  /* font and font size for label text */
  .contactLabels {
      color: white !important;
      font-family: 'Space Mono',sans-serif;
      font-weight: 800;
      letter-spacing: 1px;
  }